
config.h
*.Po
stamp-h1
RNAlib2.pc
misc/ViennaRNA.spec
misc/PKGBUILD
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
config.log
*/config.log
config.status
*/config.status
*~

man/cmdlopt.sh

RNAforester/g2-0.70/demo/Makefile

RNAforester/g2-0.70/g2_perl/Makefile.PL

RNAforester/g2-0.70/Makefile
