autom4te.cache
*/autom4te.cache
RNAforester/g2-0.70/autom4te.cache/*
config.h
*.Po
stamp-h1
RNAlib2.pc
misc/ViennaRNA.spec
misc/PKGBUILD
Makefile
*/Makefile
config.log
*/config.log
config.status
*/config.status
*~
man/cmdlopt.sh
RNAforester/g2-0.70/demo/Makefile
RNAforester/g2-0.70/g2_perl/Makefile.PL
RNAforester/g2-0.70/Makefile
RNAforester/compile
*.o
*.a
Progs/RNA2Dfold
Progs/RNAaliduplex
Progs/RNAalifold
Progs/RNAcofold
Progs/RNAdistance
Progs/RNAduplex
Progs/RNAeval
Progs/RNAfold
Progs/RNAheat
Progs/RNAinverse
Progs/RNALalifold
Progs/RNALfold
Progs/RNApaln
Progs/RNAparconv
Progs/RNApdist
Progs/RNAPKplex
Progs/RNAplex
Progs/RNAplfold
Progs/RNAplot
Progs/RNAsnoop
Progs/RNAsubopt
Progs/RNAup
Utils/b2ct
Utils/ct2db
Utils/popt

rna.ps

*.0

*.1

RNAforester/g2-0.70/autom4te.cache/requests
